@{
    Layout = null;
    ViewData["Title"] = "Logowanie";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" />

</head>
<body class="loginpage">
    <div class="login-container">
        <img src="~/Images/padlock.png"  class="padlock" alt="Logo firmy">

        <h2>Zaloguj się</h2>

        <form method="post" asp-controller="Account" asp-action="Login">
            <label for="username">Nazwa użytkownika:</label>
            <input type="text" id="username" name="username" required />

            <label for="password">Hasło:</label>
            <input type="password" id="password" name="password" required />

            <button type="submit">Zaloguj się</button>
        </form>

        @if (ViewBag.Error != null)
        {
            <div class="error-message">@ViewBag.Error</div>
        }
    </div>
</body>
</html>
