@{
    Layout = null;
    ViewData["Title"] = "Resetuj Hasło";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="loginpage">
    <div class="login-container">
        <img src="~/Images/padlock.png" class="padlock" alt="Logo firmy">

        <h2>Resetuj Hasło</h2>

        <form asp-action="ResetPassword" asp-controller="Account" method="post">
            <label for="username">Nazwa użytkownika:</label>
            <input type="text" id="username" name="username" required />

            <label for="email">Email:</label>
            <input type="text" id="email" name="email" required />

            <label for="newPassword">Nowe hasło:</label>
            <input type="password" id="newPassword" name="newPassword" required />

            <button type="submit">Zresetuj</button>

            <p id="resetLink" style="display: flex; justify-content: center; margin-top: 15px;">
                <a asp-action="Login" asp-controller="Account">Powrót do logowania</a>
            </p>
        </form>

        @if (ViewBag.Message != null)
        {
            <div class="success-message">@ViewBag.Message</div>
        }
        @if (ViewBag.Error != null)
        {
            <div class="error-message">@ViewBag.Error</div>
        }
    </div>
</body>
</html>
