@using System.Security.Claims

@{
    var userName = User.Identity.IsAuthenticated ? User.Identity.Name : "Gość";
    var userEmail = User.FindFirst(ClaimTypes.Email)?.Value ?? "";
    var userRole = User.FindFirst(ClaimTypes.Role)?.Value ?? "";
}

<h2>Witaj, @userName!</h2>
<p>Email: @userEmail</p>
<p>Rola: @userRole</p>
